.scroll {
    position: relative;
    height: 100%;
    border-radius: 5px;
    width: 100%;
    padding-top: 0%;
    padding: 0.5%;
    overflow: hidden;
    
}

.track {
    display: flex;
    width: fit-content;
    animation: scroll 30s linear infinite;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0; /* start hidden */
  object-fit: cover;
  overflow: hidden;
  inset: 0;
  transition: opacity 1.5s ease-in-out; /* smooth fade */ 
}

.visible {
    opacity: 1;
    
    z-index: 1;
}