.scroll {
    position: relative;
    height: 100%;
    border-radius: 5px;
    width: 100%;
    padding: 5%;
    overflow: hidden;
    
}

.track {
    display: flex;
    width: fit-content;
    animation: scroll 30s linear infinite;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0; /* start hidden */
  transition: opacity 0.3s ease-in-out; /* longer so you can see fade */
  object-fit: cover;
  overflow: hidden;
    
}

.visible {
    opacity: 1;
}