.arrowButton {
    margin-top: 8px;
    background: #0070f3;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.container {
    

    background: linear-gradient(to right, #1e3c72, #2a5298);
    
    padding: 9em 1em;
    color: white;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height: 10%;
    width: 100%;  
}

.header {
    
    
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease, transform 1s ease;
}

.header.show {
    opacity: 1;
    transform: translateY(0);
}

.h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
    animation: fadeInZoom 1.2s ease forwards;
}

.p1 {
    font-size: 1.4em;
    font-style: italic;
    color: #dcdcdc;
    margin-top: 0;
}

@keyframes fadeInZoom {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.containers {
      max-width: 900px;
      margin: 0 auto;
      padding: 2rem;
    }

    .h11 {
      color: #0e2a47;
      text-align: center;
      margin-bottom: 1rem;
    }

    .contact-info, .contact-form {
      margin-bottom: 2rem;
    }

    .contact-info p, .contact-info a {
      font-size: 1rem;
      margin: 0.3rem 0;
      transition: color 0.3s ease;
    }

    .contact-info a:hover {
      color: crimson;
      text-decoration: underline;
    }

    .social-links a {
      margin-right: 1rem;
      font-weight: bold;
      color: #0e2a47;
      text-decoration: none;
      transition: transform 0.3s ease, color 0.3s ease;
    }

    .social-links a:hover {
      transform: scale(1.05);
      color: crimson;
    }