.userfiltercontainer {
  padding: 1rem;
  max-width: 800px;
  margin: auto;
}

.filtersearchbar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.filtersearchbar select {
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  flex: 1;
  min-width: 150px;
}

.resultslist {
  gap: 1rem;
  display: grid;
  flex-wrap: wrap;
}

.resultcard {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);

  /* background image */
  background-size: cover;       /* Make image cover the whole area */
  background-position: center;  /* Keep image centered */
  background-repeat: no-repeat; /* Prevent tiling */
  border-radius: 5px;          /* Optional rounded corners */
  padding: 40px;                /* Space inside so text isn't flush to edges */
  margin: 1%; 
  background: linear-gradient(to bottom,
  rgba(255, 255, 255, 1),
  rgba(255, 255, 255, 0)),
  url('https://res.cloudinary.com/dpwuym7xg/image/upload/v1756298852/zannya/uploads/ehcnujtmidgrp96pmxpl.jpg');
  
}

@media (max-width: 600px) {
  .filtersearchbar {
    flex-direction: column;
  }
}