/* scr/app/page.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f5f5f5;
    padding: 2rem;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: #222;
}

.subtitle {
    font-size: 1.2rem;
    color: #555;
}

.scrollContainer {
    height: 500px;
    display: flex;
    overflow-y: auto;
    padding: 16px;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgba(209, 235, 247, 0.966);
}

.button {
    display: inline-block;
    margin-top: 20;
    padding: 10px 20px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s East_Sea_Dokdo;
}

.button:hover {
    background-color: #0056b3;
}

.button:active {
    transform: scale(0.97);
}

.image {
    width: 300px;
    height: auto;
    border-radius: 12px;
    object-fit: contain;
    
}

