.thumbnail {
  width: 25%;
  height: 90%;
  cursor: pointer;
  transition: transform 0.3s ease;
  overflow: hidden;
  object-fit: cover;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.overlayImage {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}