.arrowButton {
  margin-top: 8px;
  background: linear-gradient(90deg, #FF512F, #DD2476);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.arrowButton:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 15px rgba(0,0,0,0.3);
}

.container {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    
    padding: 9em 1em;
    color: white;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height: 10%;
    width: 100%;
}

.header {
    
    
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease, transform 1s ease;
}

.header.show {
    opacity: 1;
    transform: translateY(0);
}

.h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
    animation: fadeInZoom 1.2s ease forwards;
}

.p1 {
    font-size: 1.4em;
    font-style: italic;
    color: #dcdcdc;
    margin-top: 0;
}

@keyframes fadeInZoom {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.card{
    transition: transform 0.3s ease;
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);      
         
}

.card:hover {
  transform: translateY(-8px);
}

.imageH{
    
        width: 100%;
        min-height: 200px;
        justify-content: center;
        background-color: f5fafac7;
        margin: 0;
        display: flex;
        padding: 0px;
        padding-bottom: 5px;
        padding-top: 2.5%;
    
}
